@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red */
}

body {
  font-family: 'Poppins', sans-serif;
  color:#45494d;
  line-height: 1.5;
  background-color: #dbe8f5;
}

h1 {
  font-weight: 400;
  margin: 10px 2%;
  font-size: xx-large;
}

img {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #397dcb;
  color: #fff;
  height: 14%;
}

nav div {
  display: flex;
  width: 13rem;
  justify-content: space-between;
}

.nav-btn {
  color: white;
  background-color: #397dcb;
  border: none;
  cursor: pointer;
  margin: 0 1%;
  font-size: medium;
}

.nav-btn:hover {
  border-bottom: 2px solid #fff;
}

.greeting {
  margin: 0 10px;
  border-bottom: 2px solid rgb(179, 176, 176);
}

.dollars {
  font-size: x-large;
}

.user-bookings .grid {
  grid-template-columns: 35% 65%;
  height: 85vh;
}


.bkngs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2% 2%;
  margin: 2% 0%;
  width: 75%;
  height: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-top: 1px solid #bed4ea;
  box-shadow: 0 10px 10px black;
  background-color: #fff;
}

.bkngs div {
  background-color: #397dcb;
  margin: 5% 0%;
  border: 1px solid black;
  border-radius: 5px;
  width: 100% ;
  color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px black;
  width: 75%;
  height: 80%;
  overflow-y: scroll;
}

.card form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 2% 0;
  gap: 10px;
  background-color: #fbdd4a;
  border-radius: 5px;
}

.form-header {
  margin-top: 2%;
  align-self: center;
  font-size: xx-large;
}

.input {
  border-radius: 10px;
  width: 80%;
  height: 45px;
  font-size: large;
  background-color: #fff;
  margin: 2% 0;
  cursor: pointer;
}

.submit{
  height:45px;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}

.available-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.available-rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.room {
  background-color: #397dcb;
  color: #fff;
  border-radius: 5px;
  padding-left: 3%;
}

.room-filter {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin: 2% 2%;
  width: 90%;
}

select {
  height: 30px;
}

.room {
  border: 1px solid black
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display :none
}

.invisible {
  visibility: none;
}

.booked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fbb0f;
  font-size: x-large;
}